{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    {% if enterprises is not empty %}
        <table class="table table-hover ml-5">
            <thead>
                <tr>
                <th scope="col">Raison Sociale</th>
                <th scope="col">Siren</th>
                <th scope="col">Siret</th>
                <th scope="col">Adresse</th>
                </tr>
            </thead>
            <tbody>
                {% for enterprise in enterprises %}
                    <tr class="table-primary">
                        <td>{{ enterprise.nom_raison_sociale }}</td>
                        <td>{{ enterprise.siren }}</td>
                        <td>{{ enterprise.siege.siret }}</td>
                        <td>{{ enterprise.siege.adresse }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
